@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.hero_img {
  position: absolute;
  width: 100%;
  right: 0px;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
}

.cover {
  object-fit: cover;
  overflow: hidden;
}

.hero-btn_block {
  position: absolute;
  min-height: 8rem;
  width: 90%;
  overflow: hidden;
  bottom: 0px;
  right: 0px;
  background-color: white;
}

.tag_contain {
  position: absolute;
  width: 10rem;
  bottom: 16rem;
}

.create-account_button {
  width: 800px;
  background-color: black;
  color: black;
}

h1 {
  margin-left: 4rem;
  font-size: 8vmax;
  line-height: 8vmax;
  color: whitesmoke;
  text-shadow: 0.25vw 0.25vw 0.75vw rgb(22, 22, 22);
  text-align: left;
}

h2 {
  padding-top: 4rem;
  font-size: 2rem;
  font-weight: 100;
  position: absolute;
  min-height: 8rem;
}
