.signup-btn {
  float: right;
  margin: 0.9rem 4rem 0rem 1.5rem;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
  letter-spacing: 3px;
  font-family: "open sans";
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  width: 7rem;
  height: 2.25rem;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background: none;
}

.signup-btn:focus {
  outline: 0;
}

.signup-btn:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34);
  backface-visibility: hidden;
  color: #048ddd;
  background: #fafafa;
  border-radius: 3px;
}
.signup-btn:active {
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2),
    0 4px 6px 0px rgba(0, 0, 0, 0.54);
  transform: translate(0px, 0px);
  backface-visibility: hidden;
  border-radius: 3px;
}
