button {
  float: right;
  margin: 0.8rem 4rem 0rem 1.5rem;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
  letter-spacing: 3px;
  font-family: "open sans";
  font-weight: 400;
  line-height: 35px;
  cursor: pointer;
  transition: all ease-in-out 100ms;
  width: 20rem;
  height: 4.5rem;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #000000;
  background: none;
}
button:hover {
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.22),
    0 10px 13px 0px rgba(0, 0, 0, 0.34);
  backface-visibility: hidden;
  color: #ffffff;
  background: #000000;
}
button:active {
  box-shadow: 0 4px 6px 3px rgba(0, 0, 0, 0.2),
    0 4px 6px 0px rgba(0, 0, 0, 0.54);
  transform: translate(0px, 0px);
  backface-visibility: hidden;
}
